<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>DatasourceLookup2</servlet-name>
        <servlet-class>com.mbo.util.DatasourceLookup2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            0
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <jsp-file>/WelcomePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/wlcm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>history_topup</servlet-name>
        <jsp-file>/history_topup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>history_topup</servlet-name>
        <url-pattern>/htp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>history_transaction</servlet-name>
        <jsp-file>/history_transaction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>history_transaction</servlet-name>
        <url-pattern>/htc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>list_product</servlet-name>
        <jsp-file>/list_product.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>list_product</servlet-name>
        <url-pattern>/lpd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>req_topup</servlet-name>
        <jsp-file>/req_topup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>req_topup</servlet-name>
        <url-pattern>/rtp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/ho</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cp</servlet-name>
        <jsp-file>/change_password.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cp</servlet-name>
        <url-pattern>/cp</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>GetSumTrx</display-name>
        <servlet-name>GetSumTrx</servlet-name>
        <servlet-class>com.mbo.servlet.GetSumTrx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSumTrx</servlet-name>
        <url-pattern>/GetSumTrx</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>UpServlet</display-name>
        <servlet-name>UpServlet</servlet-name>
        <servlet-class>com.mbo.servlet.UpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpServlet</servlet-name>
        <url-pattern>/UpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringppobServlet</display-name>
        <servlet-name>MonitoringppobServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringppobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringppobServlet</servlet-name>
        <url-pattern>/MonitoringppobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringbillerServlet</display-name>
        <servlet-name>MonitoringbillerServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringbillerServlet</servlet-name>
        <url-pattern>/MonitoringbillerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringalltodayServlet</display-name>
        <servlet-name>MonitoringalltodayServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringalltodayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringalltodayServlet</servlet-name>
        <url-pattern>/MonitoringalltodayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringallmonthServlet</display-name>
        <servlet-name>MonitoringallmonthServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringallmonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringallmonthServlet</servlet-name>
        <url-pattern>/MonitoringallmonthServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringallyearServlet</display-name>
        <servlet-name>MonitoringallyearServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringallyearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringallyearServlet</servlet-name>
        <url-pattern>/MonitoringallyearServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringbillertodayServlet</display-name>
        <servlet-name>MonitoringbillertodayServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringbillertodayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringbillertodayServlet</servlet-name>
        <url-pattern>/MonitoringbillertodayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringbillermonthServlet</display-name>
        <servlet-name>MonitoringbillermonthServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringbillermonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringbillermonthServlet</servlet-name>
        <url-pattern>/MonitoringbillermonthServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringbilleryearServlet</display-name>
        <servlet-name>MonitoringbilleryearServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringbilleryearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringbilleryearServlet</servlet-name>
        <url-pattern>/MonitoringbilleryearServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringppobtodayServlet</display-name>
        <servlet-name>MonitoringppobtodayServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringppobtodayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringppobtodayServlet</servlet-name>
        <url-pattern>/MonitoringppobtodayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringppobmonthServlet</display-name>
        <servlet-name>MonitoringppobmonthServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringppobmonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringppobmonthServlet</servlet-name>
        <url-pattern>/MonitoringppobmonthServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringppobyearServlet</display-name>
        <servlet-name>MonitoringppobyearServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringppobyearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringppobyearServlet</servlet-name>
        <url-pattern>/MonitoringppobyearServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringtempmsgServlet</display-name>
        <servlet-name>MonitoringtempmsgServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringtempmsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringtempmsgServlet</servlet-name>
        <url-pattern>/MonitoringtempmsgServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringoperatorServlet</display-name>
        <servlet-name>MonitoringoperatorServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringoperatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringoperatorServlet</servlet-name>
        <url-pattern>/MonitoringoperatorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MonitoringoperatortodayServlet</display-name>
        <servlet-name>MonitoringoperatortodayServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringoperatortodayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringoperatortodayServlet</servlet-name>
        <url-pattern>/MonitoringoperatortodayServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>MonitoringoperatormonthServlet</display-name>
        <servlet-name>MonitoringoperatormonthServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringoperatormonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringoperatormonthServlet</servlet-name>
        <url-pattern>/MonitoringoperatormonthServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>MonitoringoperatoryearServlet</display-name>
        <servlet-name>MonitoringoperatoryearServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringoperatoryearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringoperatoryearServlet</servlet-name>
        <url-pattern>/MonitoringoperatoryearServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <description/>
        <display-name>MonitoringtempmsgquantumServlet</display-name>
        <servlet-name>MonitoringtempmsgquantumServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringtempmsgquantumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringtempmsgquantumServlet</servlet-name>
        <url-pattern>/MonitoringtempmsgquantumServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>TopupagentServlet</display-name>
        <servlet-name>TopupagentServlet</servlet-name>
        <servlet-class>com.mbo.servlet.TopupagentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopupagentServlet</servlet-name>
        <url-pattern>/TopupagentServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>Monitoringh2hServlet</display-name>
        <servlet-name>Monitoringh2hServlet</servlet-name>
        <servlet-class>com.mbo.servlet.Monitoringh2hServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Monitoringh2hServlet</servlet-name>
        <url-pattern>/Monitoringh2hServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>TopupbillerServlet</display-name>
        <servlet-name>TopupbillerServlet</servlet-name>
        <servlet-class>com.mbo.servlet.TopupbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopupbillerServlet</servlet-name>
        <url-pattern>/TopupbillerServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <description/>
        <display-name>Topuph2hServlet</display-name>
        <servlet-name>Topuph2hServlet</servlet-name>
        <servlet-class>com.mbo.servlet.Topuph2hServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Topuph2hServlet</servlet-name>
        <url-pattern>/Topuph2hServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <description/>
        <display-name>achivementServlet</display-name>
        <servlet-name>achivementServlet</servlet-name>
        <servlet-class>com.mbo.servlet.achivementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>achivementServlet</servlet-name>
        <url-pattern>/achivementServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>MonitoringproductServlet</display-name>
        <servlet-name>MonitoringproductServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringproductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringproductServlet</servlet-name>
        <url-pattern>/MonitoringproductServlet</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <description/>
        <display-name>MonitoringallquantumtodayServlet</display-name>
        <servlet-name>MonitoringallquantumtodayServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringallquantumtodayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringallquantumtodayServlet</servlet-name>
        <url-pattern>/MonitoringallquantumtodayServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>MonitoringallquantummonthServlet</display-name>
        <servlet-name>MonitoringallquantummonthServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringallquantummonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringallquantummonthServlet</servlet-name>
        <url-pattern>/MonitoringallquantummonthServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>MonitoringallquantumyearServlet</display-name>
        <servlet-name>MonitoringallquantumyearServlet</servlet-name>
        <servlet-class>com.mbo.servlet.MonitoringallquantumyearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringallquantumyearServlet</servlet-name>
        <url-pattern>/MonitoringallquantumyearServlet</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    <servlet>
        <description/>
        <display-name>Monitoringh2htodayServlet</display-name>
        <servlet-name>Monitoringh2htodayServlet</servlet-name>
        <servlet-class>com.mbo.servlet.Monitoringh2htodayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Monitoringh2htodayServlet</servlet-name>
        <url-pattern>/Monitoringh2htodayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Monitoringh2hmonthServlet</display-name>
        <servlet-name>Monitoringh2hmonthServlet</servlet-name>
        <servlet-class>com.mbo.servlet.Monitoringh2hmonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Monitoringh2hmonthServlet</servlet-name>
        <url-pattern>/Monitoringh2hmonthServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Monitoringh2hyearServlet</display-name>
        <servlet-name>Monitoringh2hyearServlet</servlet-name>
        <servlet-class>com.mbo.servlet.Monitoringh2hyearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Monitoringh2hyearServlet</servlet-name>
        <url-pattern>/Monitoringh2hyearServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>agentbalanceServlet</display-name>
        <servlet-name>agentbalanceServlet</servlet-name>
        <servlet-class>com.mbo.servlet.agentbalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agentbalanceServlet</servlet-name>
        <url-pattern>/agentbalanceServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <description/>
        <display-name>billerbalanceServlet</display-name>
        <servlet-name>billerbalanceServlet</servlet-name>
        <servlet-class>com.mbo.servlet.billerbalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>billerbalanceServlet</servlet-name>
        <url-pattern>/billerbalanceServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>h2hbalanceServlet</display-name>
        <servlet-name>h2hbalanceServlet</servlet-name>
        <servlet-class>com.mbo.servlet.h2hbalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>h2hbalanceServlet</servlet-name>
        <url-pattern>/h2hbalanceServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mbo.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mbo.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
